@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Dark */
  --text-rgb: #ffffff;
  --background-rgb: #000000;
}

@font-face {
  font-family: "Sansita One";
  src: url("/fonts/sansita-one/SansitaOne.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  color: var(--text-rgb);
  background-color: var(--background-rgb);
}
