/*
  Global styles.
*/

/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@font-face {
  font-family: "Sansita One";
  src: url("/fonts/sansita-one/SansitaOne.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Note: May show warnings in VSCode, but are valid Tailwind directives. */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles  */
:root {
  /* Dark */
  --text-rgb: #ffffff;
  --background-rgb: #000000;
}

body {
  color: var(--text-rgb);
  background-color: var(--background-rgb);
}
